@import '../../index.scss';

.innerButtonClass {
  display: flex;
  flex-direction: row;
  align-items: space-around;
  width: 15%;
  height: auto;
  background-color: lightseagreen;
  font-size: 12pt;
  color: white;
  border: 1px solid gray;
  &:hover {
    border-color: black;
    cursor: pointer;
    @include noselecttext;
  }
  &:active {
    background-color: teal;
  }
}

.buttonIcon {
  display: flex;
  flex-direction: row;
  margin-left: 10%;
  font-size: 8pt;
}