html {
  height: 100%;
}

body {
  // background: rgb(216, 97, 42);
  height: 100%;
  background-image: linear-gradient(bottom,  rgb(16, 74, 88), rgb(41, 27, 233));
  background-repeat: no-repeat ;
  background-attachment: fixed ;
  margin: 0px;
  margin-right: 250px;
  padding: 0px;
  margin-bottom: 100px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}


@mixin noselecttext {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

$Dark: #1C1F24;
$Light: #f3f3f3;
$Highlight: #D75813;