.iconClass {
  &:hover {
    cursor: pointer;
  }
}

.cardIcon {
  color: rgb(78, 75, 75);
//   padding: 0px;
//   float: right;
//   position: absolute; 
//   bottom: 0;
}

.noHover {
  &:hover{
    cursor: default;
  }
}
