.libDiv {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  border: 3px solid black;
  background-color: whitesmoke;
  margin: 0px;
  padding: 0px;
  width:100%;
}

.libDiv > * {
   margin: 5px 0px;
}

.pathSpan {
  display: block;
  width: 100%;
}

