.libDiv {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  border: 3px solid black;
  background-color: whitesmoke;
  margin: 0px;
  padding: 0px;
  width:80%;
}

.libDiv > * {
   margin: 5px 0px;
}

.pathSpan {
  display: block;
  width: 100%;
}
.cardBody{
  background-color: blue;
}
//style settings that need to be applied
// .library_libDiv__1xmQo {
//   display: flex;
//   flex-wrap: wrap;
//   flex-direction: row;
//   justify-content: space-evenly;
//   border: 3px solid black;
//   background-color: whitesmoke;
//   margin: 20px;
//   padding: 10px;
//   margin-left: 0px;
//   margin-right: 0px;
// }