@import "../../index.scss";


.uploadIconHolder {
  height: 80%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.uploadIconHolder:hover, .folderCardBody:hover {
  background-color: #ccc;
  border-radius: 5pt;
}

.trashCardHolder {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-content: space-between;
  padding: 5pt;
  height: 80%;
  width: 100%;
}

.card.cardBody {
  display: flex;

}

.cardHolder {
  display: flex;
  width: 225pt;
  height: 175pt;
  flex-direction: column;
  box-shadow: 3px 3px;
  border-radius: 5px;
  // background-color: rgb(66, 252, 205);
  background-image: linear-gradient(bottom, rgb(221, 84, 10), rgb(245, 185, 56));

  @include noselecttext;
}
// rgb(247, 98, 39);

.cardTitle {
  border-bottom: 1pt solid #221d1d;
  padding: 5pt 10pt;
  text-align: center;
  height: 30%;
  position: relative;
}

.cardBody {
  padding: 5pt 10pt;
  height: 100%;
  width: 100%;
  box-sizing: border-box;

}

.fileCardBody, .folderCardBody {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 60%;
  align-items: flex-end;
  box-sizing: border-box;
  padding: 2pt;
}

.titleIconHolder {
  float: right;
  position: absolute; 
  top: 0;
  right: 0;
}

.folderCardBody {
  cursor: pointer;
}

.folderText {
  position: relative;
  text-align: center;
  height: 0pt;
  top: 25%;
  font-size: 1.5em;
  opacity: 0.4;
  @include unselectable;
}

.cardHeaderClass {
  display: flex;
  flex-direction: row;
}

