.trashDiv {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  border: 2px solid black;
  background-color: whitesmoke;
  margin: 20px;
  padding: 10px;
  width:100%;
  margin-left:0%;
}

.trashDiv > * {
   margin: 5px 0px;
}
.pathSpan {
  display: block;
  width: 100%;
}
