.trashDiv {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: transparent;
  margin-top: 70px;
  height: 85vh;

}

.trashDiv > * {
   margin: 5px 0px;
}

.pathSpan {
  display: block;
  width: 90%;
  color: rgb(216, 211, 211);
  font-weight: bold;
  padding-left: 15px;
}

