
.topNav {
  display: none;
}

@media (max-width: 790px) {
  .topNav {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0;
    width: 100%;
    max-width: 500px;
    z-index: 10;
    max-width: 500px;
  }
}

.navExtend {
  background-color: rgb(7, 161, 226);
  box-shadow: 3px 3px;
  border-radius: 5%;
}

