@import '../../index.scss';

.uploadButtonClass {
  width: 90%;
  box-sizing: border-box;
  margin: 5%;
  text-align: center;
  font-size: 1.3em;
  color: $Light;
  // background-image: linear-gradient(top ,rgb(29, 92, 95), rgb(19, 135, 141));
  background-color: #d6b55f;
  background-image: url("https://www.transparenttextures.com/patterns/sandpaper.png");
  border-radius: 5pt;
  padding: 20pt 5pt;
  border: 2pt solid black;
  font-weight: bold;
  color: rgb(78, 75, 75);
  &:hover {
    text-decoration: none;
    background-color: rgb(100, 95, 95);
    color: black;
  }
  &:active {
  border: 2pt solid rgb(197, 94, 10);
  }
}

.buttonIcon {
    display: flex;
    flex-direction: center;
    margin-left: 35%;
    font-size: 15pt;
    color: rgb(78, 75, 75);
  }
  
  .buttonContent {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
  }
  
.uploadButton:hover {
  text-decoration: none;
  background-color: #1C1F24;
  color: black;
}
// .dropzoneClass {
  // border: dotted grey;
//   height: 100px;
//   width: 300px;
// }