.navDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: 2px solid black;
  background-color: whitesmoke;
  margin: 20px;
  padding: 10px;
  height: 88%;
  margin-right: 0px;
}

.navDiv > * {
  margin: 5px 0px;
}