@import '../../index.scss';
.App {
  height: 100%;
  width: 100%;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}
.container-fluid {
  height: 100vh;
  display: flex;
}
.navAndLib {
  padding: 0px;
}

<<<<<<< HEAD
=======
// .wholePageClass{
//   background-color: green;
// }

>>>>>>> 27015869a4b02d9400a788ef8346e4a251ed5206
.bodyClass {
  display: flex;
  flex-direction: row;
}

.content-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  height: 100%;
  // padding-left: 30px;
  padding: 0px;
}